@page "/"

<h1>Welcome to Library Management System</h1>

<ul>
    <li><a href="/ManageBooks">Manage Books</a></li>
    <li><a href="/ManageUsers">Manage Users</a></li>
    <li><a href="/BorrowBook">Borrow Book</a></li>
    <li><a href="/ReturnBook">Return Book</a></li>
    <li><a href="/ListBorrowedBooks">List Borrowed Books</a></li>
</ul>

